@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#logo{
    animation: logo 2s infinite;
}

@keyframes logo {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}